# {{ ansible_managed }}

daemon on;
error_log {{ nginx_error_log_file }} {{ nginx_error_log_level }};
user {{ nginx_user }} {{ nginx_group }};
master_process on;
pid {{ nginx_pid_file }};
worker_priority {{ nginx_worker_priority }};
worker_processes {{ nginx_worker_processes }};

http {
    include {{ nginx_mime_types_file }};

    log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

    access_log {{ nginx_http_access_log_file }} main;

    include /etc/nginx/conf.d/*.conf;
}
